<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <p class="finish">登録が完了しました</p>

    <p class="finish"><a href="/" class="href">トップへ戻る</a></p>
    
</body>
</html>